<h1>This is my Todo List</h1>

<h3><%= link_to 'New Task', new_task_path %></h3>
<br>

<% @tasks.each do |task| %>
  <h3><%= link_to task.name, task_path(task) %></h3>
  <br>
  <%= link_to 'Edit', edit_task_path(task) %>
  <%= link_to 'Delete', task_path(task), method: :delete %>

  <hr>
<% end %>
